<% if boat.photos? %>
  <%= cl_image_path boat.photos.first.path %>
<% elsif boat.image1.nil? == false %>
  <%= boat.image1 %>
<% else %>
  <%= "" %>
<% end %>
);">
  <div class="card-category"><%= boat.city %></div>
  <div class="card-description">
    <h2><%= boat.name %></h2>
    <p><%= boat.boat_type %></p>
  </div>

  <% link_to boat, class: "card-link" %>
</div>
