<div class="media">
  <div class="media-body">
    <div class="user-header">
      <%= cl_image_tag(user_photo(@user), size: '80x70', r: 'max') %>
      <h1> <%= @user.first_name  %> <%= @user.last_name%> </h1>
      <br>
    </div>

      <%if @user.phone_number.nil? %>
      <br>
        <p> <em>* No contact for this user </em></p>
      <% else %>
      <br>
        <h4>Contact : <h4>
        <p> <%= @user.phone_number %> </p>
      <% end %>

    <div class="media-section text-center">

      <%unless @user.boats.empty?  %>

        <h2> Les bateaux de <%= @user.first_name %></h2>
        <br>
        <% @user.boats.each do |b| %>
          <hr>
          <div class="boat-picture">
            <p> <strong id="boat-name"> <%= b.name.upcase %> </strong> </p>
            <br>
            <% if b.image1 || b.image2 || b.image3 %>
              <%= image_tag(b.image1, { size: '220x200', r: 'max'}) %>
              <br>
              <br>

            <% else %>
              <%= image_tag("http://placehold.it/220x200") %>
            <% end %>
          </div>
          <br>
          <div class="flex-summary">
          <br>
          <hr>
            <p> <strong> . <%= b.boat_type %> </strong> </p>
            <p> <strong> . Capacité : </strong>  <%= b.capacity %> </p>
            <hr>
              <div class="boat-summary-box">
              <em> <p> <strong> Détails : </strong></p> <%= b.description[0..800].capitalize %>... </em>
              </div>
            <hr>
              <%= link_to "En savoir plus !", b %>
            <hr>
          </div>
        <%end %>
      <%end %>

    </div>

  </div>
</div>
