
<div class="container">
  <div class="user">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <%= image_tag(user_photo(@user),id: "image-medium", class: "img-circle center-block") %>
          <h1 class="text-center"> <%= @user.first_name  %> <%= @user.last_name%> </h1>

          <% if  @user.phone_number %>
            <p> <%= image_tag "phone.png" %>  <%= @user.phone_number %></p>
          <% end %>

          <% if @user.email %>
            <p> <%= image_tag "email.png" %>  <%= @user.email %></p>
          <% end %>

          <% if @user.boat_license %>
            <p><%= image_tag "license_boat.png" %>  Licensed </p>
          <% else %>
            <p id="license-color"><%= image_tag "license_boat.png" %>  Not Licensed</p>
          <% end %>
        </div>

        <div class="col-sm-6 col-sm-offset-2">
          <% if @user == current_user %>
            <h2>Bookings :</h2>
            <% bookings = bookings_by_time(@user.bookings) %>
            <h3>Past</h3>
            <%= render 'users/bookings', bookings: bookings[:past] %>
            <h3>Future</h3>
            <%= render 'users/bookings', bookings: bookings[:future] %>
            <h3>Present</h3>
            <%= render 'users/bookings', bookings: bookings[:present] %>
          <% end %>
        </div>
      </div>
      <div class="row col-sm-12 padding-bottom-page">
        <hr>
        <h3 class="text-center"><%= @user.first_name %> boats</h3>
        <hr>
        <% @user.boats.each do |boat| %>
          <div class="col-xs-12 col-sm-4" style="margin-top: 10px">
            <%= link_to boat_path(boat) do %>
              <%= render 'user_boat_cards', boat: boat %>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
