<div class="">
  <h2>Day rate</h2>
  <div class="day_rate"><%= @boat.day_rate %></div>
  <h1>New Booking</h1>
  <%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :start_at, :as => :date %>
  <%= f.input :end_at, :as => :date %>
  <%= f.button :submit %>
  <% end %>  
</div>
