<div class="boat-info">
  <div class="row">
    <div class="col-xs-2">
      <h2>Owner</h2>
      <%= link_to boat.user do %>
      <%= cl_image_tag(user_photo(boat.user), class: "avatar-large") %>
      <%= boat.user.first_name %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <h2>Boat info</h2>
      <div class="col-xs-3 col-sm-6">
        <% image_url = boat.boat_type.downcase + ".png"  %>
        <%= image_tag(image_url, class: "boat-info-icon") %>
        <%= boat.boat_type %>
      </div>
      <% {ruler: boat.length, person: boat.capacity, bed: boat.beds}.each do |key, value| %>
      <div class="col-xs-3 col-sm-6">
        <%= image_tag(key.to_s + ".svg", class: "boat-info-icon") %>
        <%= value %>
      </div>
      <% end %>
    </div>
  </div>
</div>
