<h3>Existant bookings</h3>
<% if @bookings.any? %>
<% @bookings.each do |booking| %>
<hr>
<h4>Booking <%= booking.id %></h4>
<span class="start-date badge-blue"><%= booking.start_at %></span>
-
<span class="end-date badge-blue"><%= booking.end_at %></span>
<div><%= booking.user_review %></div>
<div><%= booking.user_rating %></div>
<%= simple_form_for [@boat, booking] do |f| %>
<%= f.input :user_review %>
<%= f.input :user_rating %>
<%= f.button :submit %>
<% end %>
<% end %>
<% else %>
<p>No bookings yet</p>
<% end %>
