<div id="map" style="width: 100%; height: 400px;"></div>
<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="card">
        <div class="col-xs-6 col-sm-5 col-md-4">
          <% if boat.photos? %>
            <%= cl_image_tag boat.photos[0].path, width: 200, height: 300, crop: :fit %>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-5">
          <%= link_to boat_path(boat) do %>
            <h3><%= boat.name %></h3>
            <span><%= boat.city %></span>
            <div>
              <i><%= boat.boat_type %></i>
              <i><%= boat.capacity %></i>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
