<div id="map" style="width: 100%; height: 400px;"></div>

<div class="container">
  <div class="boat-list">
    <h2 class="boat-header text-center">
      <%= pluralize(@boats.size, "bateau") %> à proximité
    </h2>
    <div class="row">
      <% @boats.each do |boat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to boat_path(boat) do %>
          <%= render 'boats/boat_cards', boat: boat %>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% unless @boats.any? %>
    <div class='text-center'> <strong> Aucun bateau a proximité...</strong></div>
    <br>
    <div class='text-center'><%= link_to "Page d'accueil", root_path %></div>
  <% end %>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'boats/map.js.erb' %>
  <% end %>
<% end %>
