
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h1><%= @boat.name %></h1>
      </div>
      <div>
        <% if @boat.photos? %>
          <% @boat.photos.each do |photo| %>
            <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
          <% end %>
        <% end %>
        <%= link_to "Index", boats_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<!-- All bookings -->

<div class="">
  <h3>Existant bookings</h3>
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <h5>Booking <%= booking.id %></h5>
      <div><%= booking.start_at %></div>
      <div><%= booking.end_at %></div>
      <div><%= booking.user_review %></div>
      <div><%= booking.user_rating %></div>
      <%= simple_form_for [@boat, booking] do |f| %>
        <%= f.input :user_review %>
        <%= f.input :user_rating %>
        <%= f.button :submit %>
      <% end %>
    <% end %>
  <% else %>
    <p>No bookings yet</p>
  <% end %>

</div>

<!-- New Booking form -->
<div class="">
  <h1>New Booking</h1>
  <%= simple_form_for [@boat, @booking] do |f| %>
    <%= f.input :start_at, :as => :date %>
    <%= f.input :end_at, :as => :date %>
    <%= f.button :submit %>
  <% end %>
</div>
