
<div class="media">
  <div class="media-body">
    <div class="media-section">
      <%= render 'boat_title' %>
      <%= render 'boat_photos' %>
      <%= render 'boat_info' %>
    </div>
  </div>

  <div class="media-aside">
    <div class="media-section">
      <%= render 'boat_booking' %>
    </div>
    <div class="media-section">
      <h2>MAP</h2>
    </div>
  </div>
</div>

<%= render 'boat_description' %>

<!-- All bookings -->
